include:
  - local: 'ci/common.yml'
  - local: 'ci/build-dev.yml'
  - local: 'ci/build-preprod.yml'
  - local: 'ci/build-prod.yml'
  - local: 'ci/deploy.yml'

stages: [ build, deploy ]

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(dev|preprod|prod)$/'
    - when: never
