version: "3.8"

networks:
  ivr-net:
    external: true
    name: ivr-net
  traefik-public:
    external: true
    name: traefik-public 

services:
  api-gateway:
    image: api-ivr-mdw/api-gateway:latest
    env_file: ./.env    
    networks: 
      - ivr-net
      - traefik-public
    #ports:
    #  - target: 3000
    #    published: 3000
    #    protocol: tcp
    #    mode: host
    deploy:
      mode: replicated
      replicas: 1
      restart_policy: { condition: any }
      update_config:
        order: start-first
      labels:
        - "traefik.enable=true"
        
        # HTTP (7000)
        - "traefik.http.routers.api-gateway-http.rule=Host(`local.api-ivr-mdw`) || Host(`localhost`)"
        - "traefik.http.routers.api-gateway-http.entrypoints=web"
        - "traefik.http.routers.api-gateway-http.service=api-gateway"

        # HTTPS (7443)
        - "traefik.http.routers.api-gateway-https.rule=Host(`local.api-ivr-mdw`)"
        - "traefik.http.routers.api-gateway-https.entrypoints=websecure"
        - "traefik.http.routers.api-gateway-https.tls=true"        
        - "traefik.http.routers.api-gateway-https.service=api-gateway" 

        - "traefik.http.services.api-gateway.loadbalancer.server.port=3000"
        - "traefik.swarm.network=traefik-public"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:3000/health >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 1
      start_period: 60s

  mulesoft-customer-ms:
    image: api-ivr-mdw/mulesoft-customer-ms:latest
    env_file: ./.env    
    networks: [ivr-net]
    deploy:
      mode: replicated
      replicas: 1
      restart_policy: { condition: any }
  
  mulesoft-digital-billing-ms:
    image: api-ivr-mdw/mulesoft-digital-billing-ms:latest
    env_file: ./.env    
    networks: [ivr-net]
    deploy:
      mode: replicated
      replicas: 1
      restart_policy: { condition: any }

  redis:
    image: redis:7-alpine
    networks: [ivr-net]
    deploy:
      placement:
        constraints: [ "node.role == manager" ]
